name: MLOps Pipeline

on:
  push:
    branches: [main, proto]
  pull_request:
    branches: [main, proto]

jobs:
  quality-check:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install torch torchvision --index-url https://download.pytorch.org/whl/cpu
          pip install ruff pytest
          pip install -e .


      - name: Run Unit Tests
        run: |
          pytest tests/
